html,body{
    background-image: url(./img/bg.jpg);
}
section{
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: 20%;
    width: 70%;
    background-color: white;
    margin-top: 0%;
    text-align: center;
    display: inline-block;

}
#correo{
    border: solid;
    margin: auto;
    height: 250px;
    margin-bottom: 30px;
    margin-top: 50px;
}
#des{
    grid-area: des;
    width: 80%;
}
#rem{
    grid-area: rem;
    width: 80%;
}
#asu{
    grid-area: asu;
    width: 80%;
}
#mes{
    grid-area: mes;
    width: 80%;
    height: 100px;
}